/node_modules
package-lock.json
/.next
/out
/.open-next
/.wrangler
.dev.vars
.env.local
*.wav
*.mp3
*.tldr
*.txt
.vercel
.DS_Store
build/
dist/
wrangler.toml
.next
.wrangler
.vercel
.claude
*.jpg
tmp/