# dependencies
/node_modules
package-lock.json

# next.js
/.next
/out

# cloudflare
/.open-next
/.wrangler
.dev.vars

# env
.env
.env.local
.env.production

# secrets
elixpoChatServiceKey.json

# media
*.wav
*.mp3

# misc
*.tldr
*.txt
.vercel
.DS_Store
